@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definir la animación */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Clase para aplicar la animación */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}